<html>

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <meta>GeneratedAt: {{generatedAt}}</meta>
</head>

<body>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="col s12">
                    <h6>Search Stack Resources</h6>
                    <div class="input-field col s12">
                        <input id="search" type="text">
                        <label for="search">Search</label>
                    </div>
                    <label>
                        <input id="hide-resources-without-links" type="checkbox" checked="true" />
                        <span>Hide Resources Without Links</span>
                    </label>
                </div>
            </div>
        </form>
    </div>


    {{#each stacks}}
    <h5>{{this.StackName}}</h5>
    <table class="responsive-table">
        <tr>
            <th>Type</th>
            <th>Resource</th>
            <th>Links</th>
        </tr>
        <tbody>
            {{#each this.Resources}}
            <tr class="data" id="{{this.LogicalResourceId}}">
                <td>{{this.ResourceType}}</td>
                <td>{{this.LogicalResourceId}}</td>
                <td>
                    {{#if this.url}}
                    <a target="_blank" href="{{this.url}}"><i class="material-icons">launch</i></a>
                    {{else}}
                    {{this.PhysicalResourceId}}
                    {{/if}}
                    {{#if this.secondaryUrl}}
                        <a target="_blank" href="{{this.secondaryUrl}}"><i class="material-icons">list</i></a>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/each}}


    <script>
        let rows = $("tr.data");

        function filterFn(row) {
            let keyword = $("#search").val().toLowerCase();
            let linksOnly = $("#hide-resources-without-links")[0].checked;

            let includesKeyword = row.innerText.toLowerCase().includes(keyword);
            let containsLink = !linksOnly || $("a", row).length > 0;
            return includesKeyword && containsLink;
        }

        function filterElements() {
            let filter = (index) => filterFn(rows[index]);
            let notFilter = (index) => !filter(index);
            rows.filter(filter).show();
            rows.filter(notFilter).hide();
        }

        function onInputChange() {
            rows.show();
            filterElements();
        }
        $("#search").keypress(onInputChange);
        $("#search").change(onInputChange);
        $("#hide-resources-without-links").change(onInputChange);
        onInputChange();
    </script>
</body>

</html>